<%= render "shared/header" %>

<div class="container">
  <h1 class="page-title">フォローリスト</h1>

  <div class="follow-section">
    <h2 class="section-title">フォロー中</h2>
    <ul class="follow-list">
      <% @followings.each do |user| %>
        <li class="follow-item">
          <%= link_to user.nickname, relationship_path(user), class: "user-nickname-link" %>
        </li>
      <% end %>
    </ul>
  </div>

  <div class="follow-section">
    <h2 class="section-title">フォロワー</h2>
    <ul class="follow-list">
      <% @followers.each do |user| %>
        <li class="follow-item">
          <%= link_to user.nickname, relationship_path(user), class: "user-nickname-link" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<%= render "shared/footer" %>
